<h2>Authorization</h2>
<form [formGroup]="asposeClientFormGroup" class="form">
  <mat-form-field appearance="outline" class="form-control">
    <mat-label>Client Id</mat-label>
    <input matInput formControlName="clientId" />
    <mat-error
      *ngIf="asposeClientFormGroup.controls['clientId'].hasError('required')"
    >
      {{ requiredMsg }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-control">
    <mat-label>Client Secret</mat-label>
    <input matInput formControlName="clientSecret" />
    <mat-error
      *ngIf="
        asposeClientFormGroup.controls['clientSecret'].hasError('required')
      "
    >
      {{ requiredMsg }}
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    [disabled]="asposeClientFormGroup.invalid"
    (click)="submit()"
  >
    Submit
  </button>
</form>
