body {
  display: flex;
  justify-content: center;
  width: 98%;
  font-family: "Roboto", sans-serif;
}
.mat-button-wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.cdk-overlay-pane {
  width: 100%;
  max-width: 400px !important;
  margin: 0 10px;
}
